body{
	margin: 0;
	font-family: 'Quicksand', sans-serif;
	font-size: 10px;
	color: #333333;
	line-height: 1.6;
}

.background{
    display: flex;
    flex-direction: column;
    justify-content: center;
	width: 100%;
	height: 100vh;
	background: url('login_background.jpg') center no-repeat;
	background-size: cover;
}

.login_text{
    font-size: 15px;
	font-weight: 700;
	color: #fff;
}

.login{
    position: absolute;
    top: 50px;
    right: 0;
    left: 50px;
    z-index: 1000;
    margin: auto 0;
}