body{
	margin: 0;
	font-family: 'Quicksand', sans-serif;
	font-size: 10px;
	color: #333333;
	line-height: 1.6;
}

.background{
    display: flex;
    flex-direction: column;
    justify-content: center;
	width: 100%;
	height: 100vh;
	background: url('login_background.jpg') center no-repeat;
	background-size: cover;
}

.login_text{
    font-size: 25px;
	font-weight: 700;
	color: #fff;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #000
}

.login{
    position: absolute;
    top: 50px;
    right: 0;
    left: 50px;
    z-index: 1000;
    margin: auto 0;
}

.inputbox{
    height: 30px;
    width: 250px;
    font-size: 18px;
    box-shadow: 3px 3px 3px #000;
}