<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <meta http-equiv="refresh" content="1">
    </head>
    <body>
        <table>
            <td>Oven</td><td>Timer oven</td><td>Time</td><td>Temperature</td><td>Name</td><td>Order </td>
            </tr>
            {% for data in ovenData %}
                {% for (name, order) in orderlist %}
            <tr>
                <th>{{data[0]}}</th>
                <th>{{data[1]}}</th>
                <th>{{data[2]}}</th>
                <th>{{data[3]}}</th>
                <th>{{ name }}</th>
                <th>{{ order }}</th>
                
            </tr>
                {% endfor %}

            {%endfor%}

            
        </table>
    </body>
</html>