<html>
    <head>
        <link rel="stylesheet" href="C:/schoolOneDrive - Office 365 Fontys/semester 1/repository/pizza-shop-ata-group-14-5/static/css/style.css">
        <meta http-equiv="refresh" content="5">
    </head>
    <body>
        <table>
            </tr>
            {% for data in ovenData %}
            <tr>
                <th>{{data[0]}}</th>
                <th>{{data[1]}}</th>
                <th>{{data[2]}}</th>
            </tr>
            {%endfor%}
        </table>
    </body>
</html>