<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <meta http-equiv="refresh" content="1">
    </head>
    <body>
        {%for order in orderlist%} 
        <table style="width:100%">
            <tr>
             
              <th>oven Response</th>
              <th>countdown </th>
              <th>time</th>
              <th>temp</th> 
              <th>order </th>
              
            </tr>
            <tr>
              <td> {{oven_data["ovenResponse"]}}  </td>
              <td> {{oven_data["countdown"]}} </td>
              <td> {{oven_data["time"]}} </td>
              <td> {{oven_data["temp"]}}</td>
              
              <td>{{order_id}} </td>
              <td>{{order}} </td>
              
            </tr>
            
          </table>
          {% endfor %}
    </body>
</html>