<!DOCTYPE html>
<html lang="eu">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap" rel="stylesheet">
    <title>ATA login page</title>
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header__logo">Admin page sign-in</div>
        </div>
    </header>
    <div class="login">
        <form action="/admin_login" method="post">
            <div class="login_text">
                <label>username:</label><br>
                <input type="text" name="sent_username" class="inputbox"><br><br> 
                <label>password:</label><br>
                <input type="text" name="sent_password" class="inputbox"><br><br><br>
                <input type="submit" value="login" class="button"></input>
            </div>
        </form>
    </div>
    <nav class="nav">
        <a class="nav__link" href="http://127.0.0.1:5000/">Go back</a>
    </nav>
    <div class="background">
    </div>
</body>




