<!DOCTYPE html>

<html>
    <head>
        <title>orders</title>
    </head>
    <body>
      {% if orderlist == [] %}
      <p>No volunteers at the moment.</p>
  {% else %}
      <table>
          <tr>
              <th>id</th>
              <th>order</th>
          </tr>
          {% for order in orderlist %}
              <tr>
                  <td>{{ order_id }}</td>
                  <td>{{ order }}</td>
              </tr>
          {% endfor %}
      </table>
  {% endif %}
  <br><br>





        <form action="/ordering" method= "post">
            
            <input type="hidden" id="001" name="pizza" value="peperoni">
            <input type="submit" value="peperoni">
          </form>
        


          <form action="/ordering" method= "post">
            
            <input type="hidden" id="001" name="pizza" value="margerita">
            <input type="submit" value="margerita">
          </form>



          <form action="/ordering" method= "post">
            
            <input type="hidden" id="001" name="pizza" value="chicken">
            <input type="submit" value="chicken">
          </form>




          <form action="/ordering" method= "post">
            
            <input type="hidden" id="001" name="pizza" value="complete"  >
            <input type="submit" value="order">
          </form>


